{% extends "base_temp.html" %}
{% load crispy_forms_tags %}
{% block workspace_name %}
{% if user in workspace.users.all %}
<h2>{{ workspace.name }}</h2>
{% endif %}
{% endblock %}

{% block side %}
{% if user in workspace.users.all %}
<div><div class="active"><a style="text-decoration: none; color: white;" href="{% url 'workspaces:channel_all' workspace.id %}"> Channels <i class="fas fa-plus-circle"></i> </a></div>
<ul>
  {% for channel in channel_list_belong %}
    <li class="check">
        # <a style="text-decoration: none; color: white;" href="{% url 'workspaces:channel' channel.id %}">{{ channel.name }}</a>
        </p>
    </li>
  {% endfor %}
</ul>
</div>

<div><div class="check"><a style="text-decoration: none; color: white;" href="{% url 'workspaces:workspace_members' workspace.id %}"> Members <i class="fas fa-plus-circle"></i> </a></div>

<ul>
    {% for member in members %}
    <li class="check">
        {% if member.profile.is_online %}
        &#x25cf;
        {% else %}
        &#x25cb;
        {% endif %}
         <a style="text-decoration: none; color: white;" href="{% url 'workspaces:workspace_user' workspace.id member.id %}">{{ member.username }}</a>
        </p>
    </li>
  {% endfor %}
    {% if more %}
        <li class="check">&#x25cb; ...
        <a style="text-decoration: none; color: white; font-style: italic; float:right; font-size:80%;" href="{% url 'workspaces:workspace_members' workspace.id %}">More</a>
        </p>
    </li>
    {% endif %}
</ul>
</div>
{% endif %}
{% endblock %}

{% block nav %}
<a href="{% url 'workspaces:all' %}">Home</a>
{% if user in workspace.users.all %}
<a class="active" href="{% url 'workspaces:channel_all' workspace.id %}">{{ workspace.name }}</a>
{% endif %}
{% endblock %}

{% block content %}
{% if user in workspace.users.all %}
<h1 style="font-size: 130%;">Channels you belong to</h1>
{% for channel in channel_list_belong %}
    <div class="message">
        <div class="user-icon">{{ channel.name|slice:":1" }}</div>
        <div class="message-content">
            <div class="user-name"><a href="{% url 'workspaces:channel' channel.id %}"><strong>{{ channel.name }}</strong></a><span class="released-time"> Created on {{ channel.created_at | date:"d-m-Y"}}</span> </div>
            <div>{{ channel.description }}</div>
        </div>
        <div>
            <a href="{% url 'workspaces:channel_leave' channel.id %}"> <i style="margin: 0.5vw 0.1vw;float:none; color: grey;" class="fas fa-sign-out-alt fa-lg"></i> </a>
            <a href="{% url 'workspaces:channel_update' channel.id %}"> <i style="margin: 0.5vw 0.1vw;float:none; color: grey;" class="fas fa-edit fa-lg"></i> </a>
            {% if user == workspace.owner %}
            <a href="{% url 'workspaces:channel_delete' channel.id %}"> <i style="margin: 0.5vw 0.1vw;float:none; color: grey;" class="fas fa-trash-alt fa-lg"></i> </a>
            {% endif %}
        </div>
    </div>
{% endfor %}
<br/>
<h1 style="font-size: 130%;">Channels you can join</h1>
{% for channel in channel_list_other %}
    <div class="message">
        <div class="user-icon">{{ channel.name|slice:":1" }}</div>
        <div class="message-content">
            <div class="user-name"><strong>{{ channel.name }}</strong><span class="released-time"> Created on {{ channel.created_at | date:"d-m-Y"}}</span> </div>
            <div>{{ channel.description }}</div>
        </div>
        <div>
            <a href="{% url 'workspaces:channel_join' channel.id %}"> <i style="margin: 0.5vw 0.1vw;float:none; color: grey;" class="fas fa-sign-in-alt fa-lg"></i> </a>
            {% if user == workspace.owner %}
            <a href="{% url 'workspaces:channel_delete' channel.id %}"> <i style="margin: 0.5vw 0.1vw;float:none; color: grey;" class="fas fa-trash-alt fa-lg"></i> </a>
            {% endif %}
        </div>
    </div>
{% endfor %}
{% else %}
<h1 style="font-size: 130%;">You don't have permission to access this page!</h1>
{% endif %}
{% endblock %}


{% block right %}
{% if user in workspace.users.all %}
<div id='create'>
<div id = "thread-head" >Create a channel
              <div style="font-size: 80%; color: grey;">
                  Channels are where members communicate. They're best when organized around a topic.
              </div>
            </div>
              <form action="" method="post" id="upload_form" enctype="multipart/form-data" class="form-horizontal">
                <fieldset>
                    <legend class="text-center header"> </legend>
                </fieldset>
                {% csrf_token %}
                {{ form|crispy }}
                <div class="form-group" id="submit">
                        <div>
                            <button type="submit" class="btn btn-primary btn-lg">Create</button>
                        </div>
                </div>
            </form>
</div>
{% endif %}
{% endblock %}