{% extends "workspaces/channel_list.html" %}

{% block right %}
<div id = "thread-head" >
Delete Channel
<br/>
<br/>
<div style="font-size: 80%;">
Are you sure you want to quit the channel <strong> {{ channel }} </strong>?
</div>
<br/>
{% if last_one %}
<div style="font-size: 80%;">
Notice that you are the only member of the channel <strong> {{ channel }} </strong>, which means that the channel will be <span style="color:red;">deleted</span> if you quit.
</div>
{% endif %}
<br/>
<br/>
<br/>
<form action="" method="POST">
  {% csrf_token %}
  <div class="form-group" id="submit">
                        <div>
                            <button type="submit" class="btn btn-primary btn-lg">Yes, quit.</button>
                        </div>
    </div>
</form>

</div>
{% endblock %}