{% extends "base_temp.html" %}
{% load crispy_forms_tags %}
{% block workspace_name %}
<h2>Home</h2>
{% endblock %}

{% block side %}
<div><div class="active"><a style="text-decoration: none; color: white;" href="{% url 'workspaces:all' %}"> Workspaces <i class="fas fa-plus-circle"></i> </a></div>

<ul>
  {% for workspace in workspace_list %}
    <li class="check">
        &#x25cb;<a style="text-decoration: none; color: white;" href="">{{ workspace.name }}</a>
        </p>
    </li>
  {% endfor %}
</ul>


</div>
{% endblock %}

{% block nav %}
<a class="active" href="">Home</a>
{% endblock %}

{% block content %}

<h1 style="font-size: 130%;">Current Channels</h1>
{% for workspace in workspace_list %}
    <div class="message">
        <div class="user-icon">{{ workspace.name|slice:":1" }}</div>
        <div class="message-content">
            <div class="user-name"><strong>{{ workspace.name }}</strong><span class="released-time"> Created on {{ workspace.created_at | date:"d-m-Y"}}</span> </div>
            <div>{{ workspace.description }}</div>
        </div>
    </div>
{% endfor %}

{% endblock %}

{% block right %}

<div id = "thread-head" >Create a workspace
              <div style="font-size: 80%; color: grey;">
                  Workspaces have channels where members can communicate.
              </div>
            </div>
              <form action="" method="post" id="upload_form" enctype="multipart/form-data" class="form-horizontal">
                <fieldset>
                    <legend class="text-center header"> </legend>
                </fieldset>
                {% csrf_token %}
                {{ form|crispy }}
                <div class="form-group" id="submit">
                        <div>
                            <button type="submit" class="btn btn-primary btn-lg">Create</button>
                        </div>
                </div>
            </form>

{% endblock %}